/* .home-container{
   
  background:linear-gradient(
      rgba(0, 0, 0, 0.6),  
      rgba(0, 0, 0, 0.5)
    ), url(../assets/iStock-597963404-crop.webp);
  background-size: cover;
  background-position: center;
  height: "100vh";
  z-index: -1;
} */
